a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

span.stars, span.stars span {
    background: url(/images/stars.png) 0 -16px repeat-x;
    display: inline-block;
    height: 16px;
    width: 160px;
}

span.stars span { background-position: 0 0; }

h2 {
    margin: 0px;
    padding: 0px;
}

div.small-alert {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
}

p.slim {
    margin: 0px;
    padding: 0px;
}

div.reverse-collapsible { display: none; }

@media only screen and (max-width: 1000px) {
    td.collapsible { display: none; }

    div.reverse-collapsible { display: inline-block; }

    span.stars, span.stars span {
        background: url(/images/stars.png) 0 -16px repeat-x;
        display: none;
        height: 16px;
        width: 160px;
    }
}