body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] { width: 100%; }

/* QR code generator */

#qrCode { margin: 15px; }

/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption { display: none; }
}

.sideBar {
    display: none;
    position: fixed;
    z-index: 1000;
    /*visibility: hidden;*/
    /*display: none;*/
}

/*.sideBar.is-visible {
    visibility: visible;
}*/

.sideBar.boxLeft {
    float: right;
    height: 0px;
    padding: 0px 0px 0px 0px;
    right: 0px;
    top: 100px;
    width: 0px;
}

@media only screen and (min-width: 1500px) {
    .sideBar {
        position: fixed;
        z-index: 1000;
        /*visibility: hidden;*/
        /*display: none;*/
    }

    /*.sideBar.is-visible {
        visibility: visible;
    }*/
    .sideBar.boxLeft {
        float: right;
        height: 800px;
        padding: 0px 0px 0px 0px;
        right: 0px;
        top: 100px;
        width: 200px;
    }
}

.avatar {
    display: inline-block;
    width: 60px;
}

.avatar img {
    border-color: rgb(34, 34, 34);
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    height: 60px;
    /* position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) */
    object-fit: cover;
    position: absolute; /*left:0;*/

    top: 0;
    /* width: 40px;
    height: 40px; */
    width: 60px;
    z-index: 2;
}