body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.js_enabled #cookie-message {
    display: none;
}

.sideBar {
    position: fixed;
    z-index: 1000;
    display: none;
    /*visibility: hidden;*/
    /*display: none;*/
}
/*.sideBar.is-visible {
    visibility: visible;
}*/
.sideBar.boxLeft {
    top: 100px;
    height: 0px;
    width: 0px;
    float:right;
    padding: 0px 0px 0px 0px;
    right:0px;
}

@media only screen and (min-width: 1500px) {
    .sideBar {
        position: fixed;
        z-index: 1000;
        /*visibility: hidden;*/
        /*display: none;*/
    }
    /*.sideBar.is-visible {
        visibility: visible;
    }*/
    .sideBar.boxLeft {
        top: 100px;
        height: 800px;
        width: 200px;
        float:right;
        padding: 0px 0px 0px 0px;
        right:0px;
    }
}

.avatar {
    display: inline-block;
    width: 60px;
}

.avatar img {
    /* position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) */
    object-fit: cover;
    border-radius: 50%;
    border-color: rgb(34, 34, 34);
    border-width: 5px;
    border-style: solid;
    /* width: 40px;
    height: 40px; */
    width: 60px;
    height: 60px;

    z-index:2; position:absolute; /*left:0;*/ top:0;
}
