@page
@using FxMovies.Site.Options
@using Microsoft.Extensions.Options
@model AboutModel
@inject IOptions<SiteOptions> _siteOptions
@{
    ViewData["Title"] = "Over FilmOpTV.be";
}
<h2>@ViewData["Title"]</h2>

<h3>Waarom?</h3>

<p>
    Wel, simpel: ik was het beu om telkens na 5 minuten te constateren dat ik de film al gezien had. Aangezien ik alle bekeken films bijhou
    op IMDb was een koppeling tussen een programmagids en IMDb voor mij de ideale oplossing.<br/>
    Anderzijds is dit project een ideale manier om .net Core te leren kennen.
</p>

<h3>Hoe werkt het?</h3>

<p>
    De website is een handige programma-gids die alle films toont op de Vlaamse (en bepaalde Nederlandse) zenders.
    Sinds midden 2021 worden ook de films op de gratis streaming platformen van VTM GO en VRT NU getoond.
</p>
<p>
    Op de onderstaande schermafbeelding wordt getoond hoe de integratie met IMDb werkt.
    <ul>
        <li>
            <span class="label label-success label-as-badge" style="white-space: normal; word-wrap: break-word;">
                In het groen worden de films aangeduid die op je &ldquo;watchlist&rdquo; staan.
            </span>
        </li>
        <li>
            <span class="label label-info label-as-badge" style="white-space: normal; word-wrap: break-word;">
                In het blauw de films die in je reeds bekeken hebt.
            </span>
        </li>
        <li>
            <span class="label label-warning label-as-badge" style="white-space: normal; word-wrap: break-word;">
                Films die binnenkort beginnen worden met oranje aangeduid.
            </span>
        </li>
        <li>
            <span class="label label-danger label-as-badge" style="white-space: normal; word-wrap: break-word;">
                In het rood worden films getoond die pas begonnen zijn.
            </span>
        </li>
        <li>
            <p>
                <img src="/images/imdb-50x24.png" height="24px" style="float: left; margin-right: 5px;"/>
                Met het IMDb icoontje kun je doorklikken naar de pagina over deze film op IMDb. <br/>
                De score op IMDb wordt getoond,
                en als de breedte van je toestel voldoende is, wordt dit ook in sterren aangeduid.
            </p>
        </li>
        <li>
            <p>
                <img src="/images/yeloplay.png" height="36px" style="float: left; margin-right: 5px;"/>
                Met het Yelo icoontje kun je de film meteen programmeren op je Digicorder via de Telenet Yelo site.
                Hiervoor moet je reeds ingelogd zijn op de Yelo website. Om on-line je Digicorder te kunnen programmeren moet je
                Digicorder &ldquo;interactief&rdquo; verbonden zijn. Meer uitleg vind je op de
                <a href="https://www2.telenet.be/nl/business/klantenservice/digibox-digicorder-interactief-maken/" target="_blank">
                    klantenservice website van Telenet
                </a>.
            </p>
        </li>
    </ul>
    <img src="/images/About_ImdbIntegration.png" width="80%" style="border: 1px solid lightgray; display: block; margin-left: auto; margin-right: auto;"/>
</p>
<p>
    Als je ook gebruik wilt maken van de (handige, maar optionele) IMDb intagratie, zijn dit de stappen die je moet doorlopen:
    <ol>
        <li>
            <a asp-page="/Account" asp-page-handler="login" asp-route-returnUrl="@Request.Path@Request.QueryString">
                <span class="glyphicon glyphicon-user"></span>
                Inloggen
            </a>
            .<br/>
            Dit kan door een nieuwe account aan te maken, maar eenvoudiger is om in te loggen via je Google account.
        </li>
        <li>
            De link leggen naar je IMDb account op de pagina
            <a asp-page="/User">
                <span class="glyphicon glyphicon-film"></span>
                &nbsp;IMDb Gebruiker
            </a>.
        </li>
        <li>
            Op diezelfde pagina de stappen volgen om je ratings en/of watchlist op te laden.
        </li>
    </ol>
</p>

<h3>Technologie</h3>

<p>
    Deze website is gemaakt in Microsoft .net Core, en wordt ontwikkeld en gehost op Linux.
    De broncode is opensource (<a href="https://github.com/WimObiwan/FxMovieAlert/blob/master/LICENSE" target="_blank" rel="noopener">GPLv3</a>),
    en vind je op <a href="https://github.com/WimObiwan/FxMovieAlert" target="_blank" rel="noopener">GitHub</a>.
</p>

@if (!string.IsNullOrEmpty(_siteOptions.Value.GoogleAdsensePublishId))
{
    <h3>Advertenties</h3>

    <p>
        De Google Adsense advertenties worden gebruikt om (een fractie van) de domein- en hosting-kosten te betalen.
    </p>
}

<h3><a name="privacybeleid"></a>Privacybeleid</h3>

Conform de Europese wetgeving over <a href="https://nl.wikipedia.org/wiki/Algemene_verordening_gegevensbescherming">GDPR / AVG</a> geef
ik nog wat uitleg over wat er bijgehouden wordt.

<h4>Cookies</h4>

Op deze website worden cookies gebruikt voor:
<p>
    <ul>
        <li>
            Bijhouden of de cookie melding werd getoond.<br/>
            De melding wordt bij je eerste bezoek getoond en daarna niet meer,
            tenzij er meer dan 30 dagen zijn verlopen sinds je laatste bezoek aan de website.
        </li>
        <li>Auth0 authenticatie (OAuth2)</li>
        @if (!string.IsNullOrEmpty(_siteOptions.Value.GoogleAnalyticsPropertyId))
        {
            <li>Google Analytics statistieken</li>
        }
        @if (!string.IsNullOrEmpty(_siteOptions.Value.GoogleAdsensePublishId))
        {
            <li>Google Adsense advertenties</li>
        }
    </ul>
</p>
<p>
    Cookies kun je uitschakelen in je browser.
    Meer uitleg vind je <a href="https://nl.wikihow.com/De-cookies-uit-een-browser-verwijderen">hier</a>.
    Dit impliceert dat bepaalde functionaliteit niet (of beperkt) zal werken.
</p>

<h4>Persoonlijke gegevens</h4>

<p>
    <ul>
        <li>
            Je kunt optioneel je IMDb Gebruikersnaam ingeven op de <a href="/User">Gebruiker</a> pagina.
            Dit wordt bewaard in onze database.
        </li>
        <li>
            Deze gebruikersnaam wordt gebruikt om je laatste IMDb ratings op te halen via een publieke RSS feed bij IMDb.
            Er wordt dus niet ingelogd met je gebruikersnaam bij IMDb, wat uiteraard ook niet kan zonder je IMDb wachtwoord.
            Deze ratings, en status informatie (zoals het tijdstip en het resultaat van de laatste rating ophaling) worden
            opgeslagen in onze database.
        </li>
        <li>
            Je kunt bijkomend ook ratings (geëxporteerd uit IMDb) opladen via een CSV bestand.
            Deze ratings worden opgeslagen in onze database.
        </li>
    </ul>
</p>
<p>
    Deze persoonlijke informatie kun je wissen uit onze database door op de
    <a href="/User">Gebruiker</a> pagina op de knop <i>Resetten</i> te klikken.
</p>
<p>
    Voor meer informatie over welke gegevens worden bijgehouden kun je terecht bij <a href="mailto:wim@obiwan.be">wim@obiwan.be</a>.
</p>