<!DOCTYPE html>
<html>
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2703249-19"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-2703249-19');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Een overzicht van alle films op de Vlaamse zenders met informatie van IMDb. En mogelijkheid om rechtstreeks je Digicorder te programmeren via Telenet Yelo Play." />
    <meta property="og:title" content="FilmOpTV" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.filmoptv.be" />
    <meta property="og:image" content="https://www.filmoptv.be/images/film-256x256.png" />
    <meta property="og:description" content="Een overzicht van alle films op de Vlaamse zenders met informatie van IMDb. En mogelijkheid om rechtstreeks je Digicorder te programmeren via Telenet Yelo Play." />

    <title>@ViewData["Title"] - FilmOpTV</title>

    @if (!string.IsNullOrEmpty(@ViewData["Canonical"] as string))
    {
        <link rel="canonical" href="https://www.filmoptv.be@(ViewData["Canonical"])" />
    }

    <!-- https://realfavicongenerator.net -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
 
    <div id="ad" class="sideBar boxLeft">

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- FilmOpTV - vertical -->
<ins class="adsbygoogle"
     style="display:inline-block;width:120px;height:600px"
     data-ad-client="ca-pub-6612546844038667"
     data-ad-slot="4517047599"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

    </div>
 
    <script>
    // Detect JS support
    document.body.className = document.body.className + " js_enabled";
    </script>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-page="/Index" class="navbar-brand">FilmOpTV</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-page="/Index">Films</a></li>
                    <li><a asp-page="/ImdbUser">IMDb Gebruiker</a></li>
                    <li><a asp-page="/About">Over FilmOpTV</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <!--googleoff: all-->
        <div id="cookie-message" class="alert alert-warning">
            <p>
                <strong>Privacy melding</strong>
                FilmOpTV.be maakt gebruik van cookies, en bepaalde persoonlijke gegevens kunnen worden bijgehouden.<br/>
                <a href="/About#privacybeleid">Klik hier</a> om meer te lezen over het privacybeleid.
            </p>
        </div>
        <!--googleon: all-->
        @RenderBody()
        <hr />
        <footer>
            <p>
                Versie 0.8 (2017-11-04).
                Deze website is <a href="https://github.com/WimObiwan/FxMovieAlert">open source</a>.  
                &copy; 2017
                @if (DateTime.Now.Year > 2017)
                {
                    @: -@(DateTime.Now.Year)
                }
                 - Fox Innovations / Wim Devos
            </p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="/js/cookie-message.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
